<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Admin</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0 admin-page">
        <div class="container">
            <h1 class="text-center">Vista de Administrador</h1>
        </div>

        <div class="mt-3 container">
            <div class="row">
                <!-- Columna de Usuarios -->
                <div class="col-md-4">
                    <div class="section-card flex-column h-100 scrollable-column">
                        <h3 class="section-title">Usuarios</h3>
                        <input type="text" id="searchField" placeholder="Buscar por nombre..." />
                        <table>
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Rol</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="usersTable">
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.id}">1</td>
                                    <td th:text="${user.username}">Nombre</td>
                                    <td>
                                        <ul>
                                            <li th:text="${user.roles}">Rol</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <form th:action="@{'/admin/toggle/' + ${user.id}}" th:method="post">
                                            <button
                                                th:if="${user.enabled}"
                                                type="submit" class="toggle btn btn-danger">Banear</button>
                                            <button
                                                th:unless="${user.enabled}"
                                                type="submit" class="toggle btn btn-primary">Desbanear</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <!-- Columna de Torneos -->
                <div class="col-md-4">
                    <div class="section-card flex-column h-100 scrollable-column">
                        <h3 class="section-title">Torneos</h3>
                        <select id="estadoTorneo" class="form-select">
                            <option value="">Todos los estados</option>
                            <option value="En_espera">En espera</option>
                            <option value="En_curso">En curso</option>
                            <option value="Cerrado">Cerrado</option>
                        </select>
                        <ul id="torneosList">
                            <li th:each="torneo : ${torneos}">
                                <a th:href="@{'/torneos/' + ${torneo.id}}" class="btn btn-outline-secondary">
                                    <span th:text="${torneo.nombre + ' - ' + torneo.estado}"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
        
                <!-- Columna de Reportes -->
                <div class="col-md-4">
                    <div class="section-card flex-column h-100 scrollable-column">
                        <h3 class="section-title">Reportes</h3>
                        <ul>
                            <li th:each="mensaje : ${mensajes}">
                                <a class="btn btn-outline-success"
                                   th:href="@{'/admin/reporte/' + ${mensaje.id}}"
                                   th:text="${mensaje.text + ' - ' + #temporals.format(mensaje.dateSent, 'dd/MM/yyyy HH:mm')}">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />

    <script>
        const toggles = document.querySelectorAll('.toggle');
        toggles.forEach(toggle => {
            toggle.addEventListener('click', (e) => {
                e.preventDefault();
                const form = e.target.parentElement;
                go(form.action, 'POST').then((d) => {
                    if (d.enabled) {
                        e.target.classList.remove('btn-primary');
                        e.target.classList.add('btn-danger');
                        e.target.textContent = 'Banear';
                    } else {
                        e.target.classList.remove('btn-danger');
                        e.target.classList.add('btn-primary');
                        e.target.textContent = 'Desbanear';
                    }
                    console.log(d);
                });
            });
        });
        
    </script>
    
    <script>
        document.getElementById("searchField").addEventListener("input", function() {
            var searchText = this.value;
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/admin/search?search=" + encodeURIComponent(searchText), true);
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onload = function() {
                if (xhr.status === 200) {
                    // Si la respuesta es correcta, actualizamos la tabla
                    var users = JSON.parse(xhr.responseText); // Parseamos la respuesta JSON
                    var tableBody = document.getElementById("usersTable");
                    tableBody.innerHTML = ""; // Limpiamos la tabla

                    // Agregamos las filas con los usuarios filtrados
                    users.forEach(function(user) {
                        var row = document.createElement("tr");
                        row.innerHTML = `
                            <td>${user.id}</td>
                            <td>${user.username}</td>
                            <td><ul><li>${user.roles}</li></ul></td>
                            <td>
                                <form action="/admin/toggle/${user.id}" method="post">
                                    <button type="submit" class="toggle btn ${user.enabled ? 'btn-danger' : 'btn-primary'}">
                                        ${user.enabled ? 'Banear' : 'Desbanear'}
                                    </button>
                                </form>
                            </td>
                        `;
                        tableBody.appendChild(row);
                    });

                    // Re-agregar los event listeners a los botones de banear/desbanear
                    const toggles = document.querySelectorAll('.toggle');
                    toggles.forEach(toggle => {
                        toggle.addEventListener('click', (e) => {
                            e.preventDefault();
                            const form = e.target.parentElement;
                            go(form.action, 'POST').then((d) => {
                                if (d.enabled) {
                                    e.target.classList.remove('btn-primary');
                                    e.target.classList.add('btn-danger');
                                    e.target.textContent = 'Banear';
                                } else {
                                    e.target.classList.remove('btn-danger');
                                    e.target.classList.add('btn-primary');
                                    e.target.textContent = 'Desbanear';
                                }
                                console.log(d);
                            });
                        });
                    });
                } else {
                    console.error('Error al cargar los usuarios:', xhr.status, xhr.statusText);
                }
            };

            xhr.send(); // Enviamos la solicitud
        });

    </script>
    <script>
        document.getElementById("estadoTorneo").addEventListener("change", function() {
        var estado = this.value;
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/admin/torneos?estado=" + encodeURIComponent(estado), true);
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onload = function() {
            if (xhr.status === 200) {
                try {
                    var torneos = JSON.parse(xhr.responseText);
                    var torneosList = document.getElementById("torneosList");
                    torneosList.innerHTML = "";

                    torneos.forEach(function(torneo) {
                        var li = document.createElement("li");
                        li.innerHTML = `
                            <a href="/torneos/${torneo.id}" class="btn btn-outline-secondary">
                                ${torneo.nombre} - ${torneo.estado}
                            </a>
                        `;
                        torneosList.appendChild(li);
                    });
                } catch (e) {
                    console.error('Error al parsear la respuesta JSON:', e);
                }
            } else {
                console.error('Error al cargar los torneos:', xhr.status, xhr.statusText);
            }
        };

        xhr.send();
    });
    </script>

</body>
</html>