<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <title>Clasificación Torneos</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="clasificacion">
        <h1>Clasificación de Torneos</h1>

        <!-- Torneos en juego -->
        <h2>Torneos en Juego</h2>
        <div class="torneos-en-juego">
            <div th:if="${#lists.isEmpty(torneosEnJuego)}">
                <p>No hay torneos en juego actualmente.</p>
            </div>
            <div th:each="torneo : ${torneosEnJuego}" class="torneo-card">
                <h3 th:text="${torneo.nombre}">Nombre del Torneo</h3>
                <p>Participantes: <span th:text="${torneo.numParticipantes}">0</span></p>
                <p>Puntos: <span th:text="${torneo.puntos}">0</span></p>
                <a th:href="@{/torneos/{id}(id=${torneo.id})}" class="btn btn-primary">Ver Detalles</a>
            </div>
        </div>

        <!-- Botón para ver todos los torneos acabados -->
        <div class="ver-todos">
            <a th:href="@{/torneos/clasificacionAcabados}" class="btn btn-primary">Ver los Torneos Acabados</a>
        </div>
    </main>
    
    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>
