<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <link rel="stylesheet" href="/src/main/resources/static/css/custom.css">
    <title>IW: Admin</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="clasificacion"> 
        <h1>Clasificación</h1>
        <table>
            <thead>
                <tr>
                    <th>Posición</th>
                    <th>Jugador</th>
                    <th class="puntos">Puntos</th>
                    
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary me-md-2" type="button">Global</button>
                        <button class="btn btn-primary" type="button">Local</button>
                    </div>
                </tr>
            </thead>
            <tbody>
                <tr th:each="jugador : ${jugadores}">
                    <td th:text="${jugador.posicion}"></td>
                    <td th:text="${jugador.nombre}"></td>
                    <td class="puntos" th:text="${jugador.puntos}"></td>
                </tr>
            </tbody>
        </table>
    </main>
    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>