<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title th:text="|IW: Error ${status}|">Parchís Pachá: Juego</title>
</head>
<body>
    <nav th:replace="~{fragments/nav.html :: nav}">
        Nav goes here
    </nav>
    <div class="game" style="center">
        <div class="Tablero" style="">

        </div>
        <div class="Salir" style=
    </div>
    <footer th:replace="~{fragments/footer.html :: footer}">
        Footer goes here
    </footer>
</body>