<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>Parchís Pachá: Juego</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main id="game-container" class="flex-shrink-0 overflow-auto mt-5" th:data-id="${partida.id}"        
            th:data-num-jugadores="${partida.numJugadores}">
            
            <input type="hidden" id="gameId" th:value="${partida.id}">
            <input type="hidden" id="username" th:value="${#authentication.name}">

            <div class="container text-center min-vh-100 d-flex flex-column justify-content-center">
                <!-- Tablero -->
                <div class="row align-items-start">
                    <div class="col-md-12 d-flex flex-column align-items-center">
                        <div id="mensaje-turno" class="mb-3" style="font-weight: bold; font-size: 18px;">
                            <p><strong>Turno de Jugador 1 (rojo)</strong></p>
                        </div>
                        <div id="fichas-completadas" class="fichas-completadas mb-3">
                            <h3>Fichas Completadas</h3>
                        </div>
                        <!-- Contenedor del tablero -->
                        <div id="tablero" class="tablero-container position-relative" style="width: 100%; max-width: 600px; height: 600px;">
                        </div>
                        <button type="button" class="btn btn-danger mt-3">Abandonar partida</button>
                    </div>
                </div>
            
                <!-- Fila del chat -->
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div id="chat-container" class="card">
                            <div class="card-header bg-primary text-white">
                                <strong>Chat</strong>
                            </div>
                            <div class="card-body" style="height: 300px; overflow-y: auto;">
                                <div id="chatBox">
                                </div>
                            </div>
                            <div class="card-footer bg-light">
                                <div class="input-group">
                                    <input type="text" id="messageInput" class="form-control" placeholder="Escribe un mensaje">
                                    <button id="sendButton" class="btn btn-primary">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- Fila de Información de la partida -->
                <div class="row mt-4">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">Información de la Partida</div>
                            <div class="card-body">
                                <p><strong>Rondas Jugadas:</strong> 5</p>
                                <p><strong>Piezas Restantes:</strong> 2</p>
                                <p><strong>Puntos Acumulados:</strong> 120</p>
                                <p><strong>Tiempo de Juego:</strong> 15 min</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    
    <th:block th:replace="~{fragments/footer.html :: footer}" />
   <!-- <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.2/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.5.0/umd/stomp.min.js"></script>
-->
    <script type= "module" th:src="@{/js/chat.js}"onload="console.log('✅ chat.js cargado correctamente DESDE GAME.HTML');"></script>
    <script type="module" th:src="@{/js/dado.js}"onload="console.log('✅ dado.js cargado correctamente desde GAME.HTML');"></script>
    <script type= "module" th:src="@{/js/game.js}"onload="console.log('✅ game.js cargado correctamente DESDE GAME.HTML');"></script>
    <script type="module" th:src="@{/js/tablero.js}"onload="console.log('✅ tablero.js cargado correctamente DESDE GAME.HTML');"></script>


</body>